body {
    margin: 0px;
    font-family: Lato;
    background: antiquewhite;
}
 a {
    text-decoration: none;
    color: #FFFFFF;
    letter-spacing: 3px;
    font-size: 15px;
}

a:hover {
    color: #FF8360;
    transition: .5s;
}

.left {
    height: 90vh;
    width: 20%;
    background: black;
    border-radius: 20px;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.right {
    height: 90vh;
    width: 80%;
    background: white;
    border-radius: 20px;

    display: flex;
    justify-content: center;
}

.left a {
    padding: 30px 30px;
}

.right a {
    padding: 30px 30px;
}

.container {
    height: 90vh;
    width: 85%;
    margin: 5vh auto 0;
    display: flex;
    justify-content: space-between;
}

.glass_container {
    height: 80vh;
    width: 70%;
}

.sitename {
    font-size: 25px;
    letter-spacing: 7px;
}

.nav {
    width: 100%;
    padding: 30px 20px;
}

hr {
    width: 70%;
    border-radius: 30px;
}

.right__divider {
    width: 80%;
    margin-top: 25px;
}

.options {
    margin-top: 10%;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.options a:first-child {
    margin-top: -40px;
}

.bottom {
    margin-top: 150px;
}

.search__input {
    width: 40%;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 1s ease-in-out;
    font-size: 13px;
    line-height: 18px;
    color: #3CDBD3;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #FF8360;
    backface-visibility: hidden;
    transform-style: preserve-3d;

    margin-left: 25%;
}

.search__input::placeholder {
    color: rgba(87, 87, 86, 0.8);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search__input:hover {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #3CDBD3;
    border-radius: 0;
    background-position: 140% center;
}

.container {

}